/*公用部分*/
body{font-family:宋体,Arial,Helvetica,sans-serif;
font-size:12px;
background: #769b72 url(../images/booksaleimg/bg_grad.gif) top center no-repeat;
cursor:default;
color:#404040;


margin:0;
padding:0;
}



/***************************************/
.clear{clear:both;}
.head_clear{clear:both;height:0px;line-height:0px; font-size:0px;}
.head_container *{margin:0;padding:0;}
.head_container a{cursor:pointer; text-decoration:none; color:#000 }
.head_container a:hover{text-decoration:underline}
.head_container a:visited{color:#000;}
.head_container img{border:0; display:inline;}
.head_container ul,ol,li {list-style:none}
.head_container h1,h2,h3,h4,h5,h6,h7{font-size:12px;font-weight:normal}
.head_dashed{
background:url(../images/booksaleimg/dashed.gif) repeat-x;
line-height:1px;
height:1px;
font-size:0px;
}


/*框架样式*/
.head_container{width:962px; margin:0 auto;background:#fff;}
.head_welcome{border-bottom:1px solid #9bb17e;border-left:1px solid #9bb17e;border-right:1px solid #9bb17e; height:21px; line-height:14px; margin-bottom:18px;padding-top:2px;padding-bottom:3px;width:943px;margin: 0 auto; background:#f9faed;padding-left:15px;}
.head_welcome a.b{text-decoration:none; font-weight:bold; color:#1a66b3;}/*2008-12-11ww添加*/
.head_welcome a.b:visited{text-decoration:none; font-weight:bold;color:#1a66b3;}/*2008-12-11ww添加*/
.head_welcome a.b:hover{text-decoration:underline;font-weight:bold ;color:#1a66b3;}/*2008-12-11ww添加*/
.head_welcome_right{float:right; width:500px; text-align:right;padding-right:0px;}
.head_toutext{height:15px;display:block; width:400px;margin-top:7px;}

.head_textfield{ width:80px; height:16px; padding:2px 0 0 2px;color:#a1a1a1; margin-left:0px;float:left;background:url(../images/default08temp/topsearchbar.gif); border:none;}/*2008-12-11ww修改*/

.head_welcome_text{float:right;margin-top:4px;margin-right:5px; text-align:right;}

.head_welcome_text .little_n{ float:left; padding-top:2px; display:block; line-height:14px;}/*2008-12-11ww修改*/
.head_welcome_text .little_n a.green{text-decoration:none; font-weight:bold; color:#0d7101}/*2008-12-11ww添加*/
.head_welcome_text .little_n a.green:visited{text-decoration:none; font-weight:bold; color:#0d7101}
.head_welcome_text .little_n a.green:hover{text-decoration:underline; font-weight:bold; color:#0d7101}/*2008-12-11ww添加*/

.head_search1{float:right;width:105px; line-height:14px;}
.head_search1 .butt_search{ float:left; }
.head_search1 img{float:left;}/*****************/

.head_icon_gouwuche{width:16px;height:11px;}

.head_head_list{border-bottom:1px solid #000d04;border-left:1px solid #053b13;border-right:1px solid #053b13; height:80px;width:958px;margin: 0 auto; background:#fffff8;}

.head_head_list_left{width:195px;float:left;height:80px;}
.head_head_list_right{float:left;width:763px;margin-bottom:1px;}

.head_head_list_right_t{height:48px;width:763px;}
.head_head_list_right_t img{float:right;}
.head_head_list_right_b{}

.head_t_t{width:397px;height:29px;float:left;margin-top:16px;}
.cart{background:url(../images/default08temp/CART_BG1.gif) no-repeat ; padding-left:25px; height:18px;  float:right; margin-top:3px;padding-right:3px; line-height:20px;}/****************************/

.head_t_t1{width:99px;height:28px; background:url(../images/booksaleimg/r-r1.gif);display:block;text-align:center;color:#26532b;font-size:14px; line-height:31px;float:left;overflow:hidden;}
.head_t_t1 a{ font-size:14px; color:#26532b;}
.head_t_t1 a:hover{width:99px;height:28px;color:#26532b; background:url(../images/booksaleimg/r-r1a.gif);display:block;}
.head_t_t1 a:visited{color:#26532b;}
.head_t_t2{width:85px;height:28px; background:url(../images/booksaleimg/r-r2.gif);display:block;text-align:center;color:#26532b;font-size:14px; line-height:31px;float:left;margin-left:2px;overflow:hidden;}
.head_t_t2 a{ font-size:14px;color:#26532b;}
.head_t_t2 a:hover{width:85px;height:28px;color:#26532b; background:url(../images/booksaleimg/r-r2a.gif);display:block;}
.head_t_t2 a:visited{color:#26532b;}

.bookhead_t_t3{}
.bookhead_t_t3 a{width:89px;height:28px; background:url(../images/booksaleimg/ddb_1.gif);color:#853200;font-size:14px;line-height:31px;text-align:center; display:block;float:left;margin-left:2px;overflow:hidden;}
.bookhead_t_t3 a:hover{width:89px;height:28px; background:url(../images/booksaleimg/ddb_2.gif);display:block;color:#853200;text-align:center;}

.head_t_t3{}
.head_t_t3 a{width:99px;height:28px; background:url(../images/booksaleimg/r-r3new.gif);color:#853200;font-size:14px;line-height:31px;text-align:center; display:block;float:left;margin-left:2px;overflow:hidden;}
.head_t_t3 a:hover{width:99px;height:28px; background:url(../images/booksaleimg/r-r3anew.gif);display:block;color:#853200;text-align:center;}
.head_t_t3 a:visited{color:#853200;}

.head_list2{height:21px;float:left;border-top:1px solid #047a34;border-bottom:1px solid #047a34;}
.head_list2 ul{height:21px;float:left;width:665px;}
.head_list2 ul li{background:url(../images/booksaleimg/t_t_jianbian.gif);float:left;width:95px;height:21px;text-align:center;}
.head_list2 ul li a{color:#fff;line-height:21px;}
.head_list2 ul li a:hover{color:#fff;line-height:21px;background:#95c600;display:block;}
.head_list2 ul li img{float:left;}
.head_list2 a{ color:#FFFFFF;}
.head_list2 a:visited {color: #FFFFFF;}

.head_list_all{background:url(../images/booksaleimg/t_t_jianbian2.gif);height:23px;float:left;width:98px;text-align:center;}
.head_list_all_first { text-align:center;}
.head_list_all_first img{float:left;}
.head_list_all_first a{color:#000;line-height:25px;display:block;height:21px;overflow:hidden;}

.head_search_div{ background:#fff;height:32px;border-left:1px solid #053b13;border-right:1px solid #053b13; width:958px;margin: 0 auto; line-height:20px;}

.head_search_bg{ background:url(../images/booksaleimg/jianbian1.gif) repeat-x;height:10px;width:960px;margin: 0 auto;}

.head_logo{margin-left:20px;margin-top:22px;float:left;}
.head_tushu{float:left;margin-left:10px;margin-top:37px;}

.head_search_kuang{ background:url(../images/booksaleimg/search_kuang.gif); width:237px; height:19px; margin-left:20px; margin-top:3px; padding-left:28px;float:left; border:0; padding-top:5px;}
.search_kuang a{}
.head_button{width:83px;height:24px;float:left;margin-left:5px; margin-top:3px;}

.head_heise{ margin-top:7px; height:20px; display:block;float:left; background: 16px 6px url(../images/booksaleimg/sanjiao.gif) no-repeat;margin-left:1px; border-right:1px solid #000; width:72px; padding-left:12px;}
.head_heise a{ margin-left:11px;color:#000;}
.head_heise1{ margin-top:7px;height:20px;float:left; margin-left:1px; border-right:1px solid #000; width:84px; }
.head_green{margin-top:7px; height:20px; display:block;float:left; color:#006939;margin-left:9px;}
.head_green a{color:#006939;}
.head_green a:visited{color:#006939;}


.head_s1_top{ width:83px; height:26px; background:url(../images/booksaleimg/s1_TOp.gif);overflow: hidden;}
.head_s1_top a{ line-height:36px;  color:#c30; padding-left:22px;}
.head_s1_top a:hover{ text-decoration:none;}
.head_s1_bot{ width:217px; height:261px; background:#fff;}
.head_s1_bot1{width:217px; height:5px; background:url(../images/booksaleimg/shang.gif) no-repeat; font-size:0px;}
.head_s1_bot2{float:left;width:5px;height:6px;font-size:0px; line-height:1px;}
.head_s1_bot3{float:right;width:6px;height:6px;font-size:0px; line-height:1px;}
.head_s1_bot23{width:217px; height:6px; background:url(../images/booksaleimg/h_b.gif) repeat-x;font-size:0px; line-height:1px;float:left;}
.head_s1_bot_div{ height:250px;}
.head_s1_bot_div1{ width:5px; background:url(../images/booksaleimg/s_l.gif) repeat-y;height:250px; float:left;}
.head_s1_bot_div2{width:206px;height:235px;float:left; padding-top:10px; }
.head_s1_bot_div3{ width:6px; background:url(../images/booksaleimg/s_r.gif) repeat-y;height:250px;float:left;}


.head_s1_bot_body{ background:url(../images/booksaleimg/xuxian.gif) top repeat-x; margin-left:6px; margin-right:6px; height:23px; padding-top:4px; padding-left:3px;}
.head_s1_bot_body1{ height:23px; padding-top:3px; padding-left:46px; padding-bottom:2px;}
.head_s1_bot_body2{ background:url(../images/booksaleimg/xuxian.gif) top repeat-x;  height:23px; padding-top:4px; padding-left:3px;}
.head_biao1{ width:113px; height:16px; border:1px solid #A1A1A1; margin-left:6px;color:#404040;}
.head_biao11{ width:113px; height:16px; border:1px solid #404040; margin-left:6px;color:#404040;}
.head_biao2{ width:44px; height:16px; border:1px solid #A1A1A1;color:#404040;}
.head_biao21{ width:44px; height:16px; border:1px solid #404040;color:#404040;}
.head_biao3{ width:115px; height:16px; border:1px solid #A1A1A; margin-left:6px; color:#404040;}
.head_biao4{ width:66px; height:16px; border:1px solid #A1A1A1; margin-left:6px; color:#404040;}
.head_biao5{ width:43px; height:16px; border:1px solid #A1A1A1; margin-left:6px;color:#404040;}
.head_s1_bot_body img{ margin:9px auto;}

.head_lianjie{ float:right; width:227px; height:48px; margin-right:0px!important;>margin-right:10px!important;margin-right:0px;}

.head_lianjie1 img{float:right; width:121px; text-align:right;height:31px; margin-left:116px;}
.head_lianjie1{ float:none;width:227px; height:31px;}
.head_lianjie2{ float:none;width:227px; height:17px;}

.head_bg_white{background: #f0f0f0 url(../images/booksaleimg/xuxian.gif) top repeat-x; margin-left:6px; margin-right:6px; height:23px; padding-top:4px; padding-left:3px;}

.head_bai{ background:#fff; margin-left:6px; margin-right:6px; }
.head_bg_bai{ background:#f0f0f0; margin-left:6px; margin-right:6px; }


.bookhead_s1_bot_body4{ background:url(../images/booksaleimg/xuxian.gif) top repeat-x; }
.bookhead_cha{ width:13px; height:13px; float:right; margin-bottom:3px; margin-right:3px; margin-top:30px;}
.bookhead_sousuo{ width:150px; height:50px; float:right;}
.bookhead_sousuo_b{float:left; margin-top:12px;}



/*.all{ height:1500px; background:#fff;width:962px; margin:0 auto;}*/

/*链接样式*/
.bookhead_blue12a:link,.bookhead_blue12a:hover,.bookhead_blue12a:visited,.bookhead_blue12a:active{color:#1a66b3; text-decoration:none; font-size:12px;}/*12-24*/
.bookhead_black12a:link,.bookhead_black12a:hover,.bookhead_black12a:visited,.bookhead_black12a:active{color:#000; text-decoration:none; font-size:12px;}/*12-24*/

.head_brown12a:link,.head_brown12a:visited{color:#853200; text-decoration:none; display:block; width:85px; float:left; height:24px; line-height:24px;}
.head_white12a:link,.head_white12a:visited{color:#fff; font-size:12px; text-decoration:none;}
.head_title_white12a:link,.head_title_white12a:visited{color:#fff; font-size:12px; text-decoration:none; display:block; background:url(../images/booksaleimg/title_all.gif) no-repeat 8px 11px; padding:6px 0 0 10px; height:18px; line-height:18px}
.head_blue12a:hover,.head_black12a:hover,.head_brown12a:hover,.head_title_white12a:hover,.head_white12a:hover{ text-decoration:underline}


/**************回首页弹窗*****************/
.link_blue a{ color:#080670; text-decoration:none} 
.link_blue a:hover{ color:#080670; text-decoration:underline}
.link_blue a:visited{color:#080670;}
.back_window p{margin:0;padding:0;}
.back_window{ width:157px; height:42px; background:url(../images/music_channel/back_window.gif); line-height:20px; padding:5px 0 0 12px}

.window{width:90px; height:152px; background:url(../images/booksaleimg/n_bg.gif)}/*2008-05新增*/
.window ul{padding-top:5px!important;>padding-top:0px!important;padding-top:5px;}
.window ul li{height:18px; background: url(../images/booksaleimg/n_point.gif) repeat-x bottom; margin:5px; text-align:center; line-height:20px}
.window ul .li_last1{height:21px; border-bottom: solid 1px #666; background:none; margin:5px; text-align:center; }
.window ul .li_yy{height:18px; background: url(../images/booksaleimg/n_point.gif) repeat-x bottom; margin:5px; text-align:center; line-height:15px}
.window ul .li_ys{height:16px; background:none; margin:5px; text-align:center; line-height:15px}
.ddindex_head_ddshouye{width:95px; padding:3px 5px;background:#fff; border: solid 1px #878787; font-size:12px}
.ddindex_head_ddshouye ul{ list-style:none}
.ddindex_head_ddshouye a{ color:#404040; text-decoration:none;}
.ddindex_head_ddshouye a:hover{ color:#404040; text-decoration:underline;}
.li5{text-align:center; height:19px; width:100%;float:left;border-bottom:solid 1px #fff; padding-top:3px}
.li6{background:#a1a1a1; height:1px; font-size:0; overflow:hidden;width:100%; float:left;}
.li7{margin:auto; width:85%; height:25px; text-align:center; background: url(../images/default08temp/xuxian_x.gif) bottom repeat-x; line-height:25px}
.li8{margin:auto; width:85%; height:25px; text-align:center; line-height:25px}

/*2009-1-6 风云榜按钮*/

.searchfyb a{ background:url(../images/default08temp/ddfyb_3.gif) ; margin-top:5px; margin-left:13px;width:74px;height:21px; float:left; display:block;}
.searchfyb a:hover{ background:url(../images/default08temp/ddfyb_4.gif) ; }
.head_green a.fybmore{ color:#853200; }
.head_green a.fybmore:hover{ color:#853200; }
.head_green a.fybmore:visited{ color:#853200; }

